.cardUser {
    width: 100%;
    max-width: 290px;
    height: 70px;
    background: #353535;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.5s ease-in-out;
}

.cardUser:hover {
    transform: scale(1.05);
}

.imgUser {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#d7cfcf, #9198e5);
}

.cardUser:hover > .img {
    transition: 0.5s ease-in-out;
    background: linear-gradient(#9198e5, #712020);
}

.textBoxUser {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
    font-family: "Poppins" sans-serif;
}

.textContentUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spanUser {
    font-size: 10px;
}

.h1User {
    font-size: 16px;
    font-weight: bold;
}

.pUser {
    font-size: 12px;
    font-weight: lighter;
}
